@import "@/styles/abstracts/mixins.scss";

.burger-menu {
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  transform: translateX(140%);
  transition: all 0.3s;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: var(--basic-neutral);
    transition: 0.2s;

    @include media-table {
      row-gap: 20px;
      padding: 80px 20px 0 20px;
    }
  }

  &-btn {
    position: relative;
    z-index: 51;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;

    @include media-mobile-xs {
      margin-right: 10px;
    }
  }

  &-btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: var(--basic-extra-dark);
  }

  &-btn span {
    position: absolute;
    top: 9px;
    width: 20px;
    height: 2px;
    background-color: var(--basic-extra-dark);
  }

  &-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: var(--basic-extra-dark);
  }
}

.burger-menu.is-active {
  transform: translateX(0);
}

.burger-menu-btn.is-active {
  transition: 0.3s;
  transform: rotate(-90deg);
}

.blur {
  position: absolute;
  right: 44%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);

  @include media-mobile-s {
    right: 50%;
  }
}