@import "@/styles/abstracts/mixins.scss";

.dropdown {
  position: relative;

  &__button {
    column-gap: 6px;
    padding-inline: 16px;
    font-weight: 400;
    height: var(--height-xs);
    color: var(--basic-extra-dark);
    background-color: var(--special-light);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
      color: var(--basic-extra-dark);
    }

    @include media-mobile-s {
      padding-inline: 10px;
    }
  }

  &-menu {
    position: absolute;
    top: 115%;
    left: 0;
    z-index: 10;
    padding-block: 8px;
    width: 140px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--basic-extra-light);


    &__item {
      padding: 8px 16px;
    }

    &__item:first-child {
      position: relative;
      font-weight: 700;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: center;
        width: 103px;
        height: 1px;
        background-color: var(--basic-neutral);
      }
    }

    &__link {
      font-size: 14px;
    }
  }

  &__icon {
    transition-duration: .02s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .6, 0);
    transform: rotate(180deg);
  }
}
