@import "@/styles/abstracts/mixins.scss";

.dropdown {

  &-menu {
    position: absolute;
    top: 78px;
    z-index: 10;
    padding-block: 8px;
    border-radius: var(--border-radius-xs);
    box-shadow: var(--shadow);
    background-color: var(--basic-extra-light);


    &__item {
      position: relative;
      padding: 8px 16px;
    }

    &__item:first-child {
      font-weight: 700;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 16px;
        width: 103px;
        height: 2px;
        background-color: var(--basic-neutral);
      }
    }
  }

  &__icon {
    transition-duration: .05s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .6, 0);

    &-selected {
      transform: rotate(180deg);
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 6px 16px;
    height: 32px;
    border-radius: var(--border-radius-lg);
    background-color: var(--special-light);

    @include media-mobile-xs {
      padding: 6px 8px;
    }
  }
}
