@import "@/styles/abstracts/mixins.scss";
@import "@/styles/abstracts/utils.scss";

.header {
  padding-top: 24px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
  }

  &__menu {
    margin-right: auto;

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      height: 36px;

      @include media-mobile-s {
        padding: 5px;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      height: 48px;
    }
  }

  &__overlay-menu {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    column-gap: 16px;

    &-phone {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
  }
}



