@import "@/styles/abstracts/mixins.scss";
@import "@/styles/abstracts/utils.scss";

.header {
  padding-block: 24px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
  }

  &__menu {
    margin-right: auto;

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      display: flex;
      align-items: center;
      padding-inline: 16px;
      height: var(--height-sm)
    }

    &-item:first-child {
      padding: 0;
    }

    &-link {
      @include flex-center;
      height: var(--height-xs);
    }
  }

  &__main-menu {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-phone {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
  }
}



