@import "@/styles/abstracts/mixins.scss";
@import "@/styles/abstracts/utils.scss";

.header {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 24px;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 16px;

    @include media-mobile-s {
      column-gap: 0;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      height: 36px;

      @include media-mobile-s {
        padding: 5px;
      }
    }
  }

  &__overlay-menu {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-phone {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
  }
}



