@charset "UTF-8";
:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-white: #fff;
  --basic-extra-light-hover: rgba(252, 252, 252, 0.5);
  --basic-extra-light-icon: rgba(252, 252, 252, 0.3);
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #f79;
  --special-light: #feafc3;
  --special-exta-light: #ffcbd8;
  --special-blue: #69a9ff;
  --special-light-blue: #9fc8ff;
  --special-yellow: #fcc850;
  --special-light-yellow: #fcdc92;
  --status-error: #ea5454;
  --status-success: #00e484;
  --status-warning: #fd912e;
  --shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.isActive {
  background-color: var(--special-bright);
  color: var(--basic-extra-light);
}

::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  font-size: 10px;
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.28;
  color: var(--basic-extra-dark);
  background-color: var(--special-light);
  min-height: 100%;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: var(--basic-extra-dark);
}

li {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 24px 0;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.navigation-menu {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.navigation-menu-list {
  display: flex;
  align-items: center;
}
.navigation-menu__link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: 36px;
  font-size: 1.6rem;
  font-weight: 400;
}
.navigation-burger-menu {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.navigation-burger-menu__phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  font-weight: 700;
}
.navigation-burger-menu__search {
  padding: 8px;
  border-radius: 27px;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 6px 16px;
  border-radius: 30px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-color: var(--basic-extra-light-icon);
  font-size: 1.4rem;
  font-weight: 400;
}

.isActive {
  background-color: var(--special-bright);
  color: var(--basic-extra-light);
}

.container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 40px;
  width: 155px;
}
.dropdown__icon {
  transition-duration: 0.05s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 0);
}
.dropdown__icon-selected {
  transform: rotate(180deg);
}
.dropdown-list {
  padding: 8px 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow);
  background-color: var(--basic-extra-light);
}
.dropdown-list__link {
  padding: 8px 16px;
  font-size: 1.4rem;
  font-weight: 400;
}
.dropdown-list__link:first-child {
  font-size: 1.4rem;
  font-weight: 700;
}
.dropdown-list__border {
  width: 80%;
  border: 1px solid var(--basic-neutral);
}

.catalog-btn {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 6px 16px;
  border-radius: 30px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-color: var(--special-light);
  font-size: 1.6rem;
  font-weight: 400;
}

.isActive {
  background-color: var(--special-bright);
  color: var(--basic-extra-light);
}

.search {
  position: absolute;
  top: 50px;
  right: 230px;
  display: flex;
  visibility: visible;
  max-width: 356px;
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow);
  background-color: var(--basic-extra-light);
}
.search__input {
  margin: 24px 16px;
  padding-left: 15px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral);
  background-color: var(--basic-white);
  font-size: 1.6rem;
  font-weight: 400;
}

.visible-hidden {
  display: none;
  visibility: hidden;
}

.auth-form-wrapper {
  position: absolute;
  top: 50px;
  right: 128px;
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding: 48px;
  max-width: 324px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--basic-extra-light);
  box-shadow: var(--box-shadow);
}
.auth-form-wrapper__title {
  margin-bottom: 32px;
  font-size: 2.4rem;
  font-weight: 700;
}

.auth-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.auth-form__email, .auth-form__password {
  padding-left: 15px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral);
  font-size: 1.6rem;
  font-weight: 400;
}
.auth-form__footer {
  display: flex;
  column-gap: 23px;
  margin-top: 16px;
}
.auth-form__footer-list {
  display: flex;
  flex-direction: column;
}
.auth-form__footer-link {
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: 400;
}

.auth-btn {
  padding-inline: 32px;
  height: 44px;
  border-radius: 26px;
  background-color: var(--special-extra-bright);
  border: 4px solid rgba(255, 47, 100, 0.6);
  font-size: 1.6rem;
  font-weight: 700;
}

.visible-hidden {
  display: none;
  visibility: hidden;
}

.basket {
  position: absolute;
  top: 50px;
  padding: 48px;
  max-width: 441px;
  border-radius: 4px;
  background-color: var(--basic-extra-light);
  box-shadow: var(--box-shadow);
}
.basket__title {
  font-size: 2.4rem;
  font-weight: 700;
}
.basket-footer {
  margin-top: 32px;
}

.basket-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 32px;
  border-bottom: 1px solid var(--basic-light);
}

.basket-item {
  display: flex;
  column-gap: 30px;
}
.basket-item__title {
  font-size: 1.8rem;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
