@import '@/styles/abstracts/mixins';

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 281px;
  border-radius: var(--border-radius-xs);
  background-image: linear-gradient(var(--special-light) 20%, var(--basic-extra-light) 20% 70%);
}