@import "@/styles/abstracts/mixins.scss";

body {
  @include  fluid-text(16, 12);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  min-height: 100%;
  color: var(--basic-extra-dark);
  background-color: var(--special-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include fluid-text(36, 18)
}

h2 {
  @include fluid-text(36, 18)
}

h3 {
  @include fluid-text(32, 18)
}

h4 {
  @include fluid-text(24, 16)
}

h5 {
  @include fluid-text(20, 16)
}
