:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-white: #fff;
  --basic-extra-light-hover: rgba(252, 252, 252, 0.5);
  --basic-extra-light-icon: rgba(252, 252, 252, 0.3);
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #f79;
  --special-light: #feafc3;
  --special-exta-light: #ffcbd8;
  --special-blue: #69a9ff;
  --special-light-blue: #9fc8ff;
  --special-yellow: #fcc850;
  --special-light-yellow: #fcdc92;
  --status-error: #ea5454;
  --status-success: #00e484;
  --status-warning: #fd912e;
  --shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  --basic-border-light: rgba(252, 252, 252, 0.4);
  --basic-shadow-light:  0 4px 12px 0 rgba(45, 52, 64, 0.1);

  --swiper-navigation-size-new: 12px;
}

$tablet: 1280px;
$tablet-s: 1024px;
$tablet-xs: 920px;
$tablet-xxs: 768px;
$mobile-s: 640px;
$mobile-xs: 480px;
$mobile-xxs: 375px