:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-white: #fff;
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #f79;
  --special-light: #feafc3;
  --special-extra-light: #ffcbd8;
  --special-extra-blue: #0000EE;
  --special-blue: #69a9ff;
  --special-light-blue: #9fc8ff;
  --special-yellow: #fcc850;
  --special-light-yellow: #fcdc92;
  --status-error: #ea5454;
  --status-success: #00e484;
  --status-warning: #fd912e;

  --basic-extra-light-icon: rgba(252, 252, 252, 0.3);
  --basic-extra-light-rgba: rgba(252, 252, 252, 0.5);
  --border: rgba(252, 252, 252, 0.4);

  --shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  --shadow-light: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  --basic-shadow-light: 0 4px 12px 0 rgba(45, 52, 64, 0.1);

  --swiper-size-btn-sm: 14px;
  --swiper-size-btn-md: 10px;

  --border-neutral: 1px solid var(--basic-neutral);
  --border-transparent-sm: 2px solid var(--border);
  --border-transparent-md: 4px solid var(--border);
  --border-basic-extra-dark: 1px solid var(--basic-extra-dark);
  --border-basic-extra-dark-md: 2px solid var(--basic-extra-dark);
  --border-light-sm: 2px solid var(--special-extra-light);
  --border-light-md: 4px solid var(--special-extra-light);
  --border-white: 4px solid var(--basic-white);
  --border-extra-light: 2px solid var(--basic-extra-light);
  --border-extra-bright-sm: 2px solid var(--special-extra-bright);
  --border-extra-bright: 4px solid var(--special-extra-bright);

  --border-radius: 4px;
  --border-radius-xs: 8px;
  --border-radius-sm: 16px;
  --border-raduis-md: 26px;
  --border-radius-lg: 30px;
  --border-radius-сircle: 50%;
  --border-radius-xxl: 100%;

  --font-family-base: "Inter", sans-serif;

  --container-width: 1170px;

  --container-padding-x: 20px;
  --container-padding-x-mobile: 10px;
  --section-padding-y: 20px;

  --button-height-xs: 32px;
  --button-height-sm: 44px;
  --button-height-md: 52px;
  --input-height: 48px;
  --height-xs: 36px;
  --height-sm: 48px;

  --transition-duration: 0.2s;


  --slideContentWidth: 520px;
  --slideImageWidth: 312px;
  --slideGapX: 20px;
}
