@import "@/styles/abstracts/mixins";

.basket {
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  visibility: hidden;
  padding: 48px;
  max-width: 441px;
  border-radius: var(--border-radius-xs);
  background-color: var(--basic-extra-light);
  box-shadow: var(--box-shadow);

  @include media-table {
    top: 40%;
    right: 30%;
  }

  @include media-mobile-s {
    right: 20%;
    padding: 20px;
  }

  @include media-mobile-xs {
    right: 10%;
    padding: 30px;
  }

  &__title {
    margin-bottom: 32px;
    color: var(--basic-extra-dark);

    @include fonts($size: 2.4rem, $weight: 700);

    @include media-mobile-s {

      @include fonts($size: 1.8rem, $weight: 700);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 32px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &-sum {
      color: var(--basic-extra-dark);

      @include fonts($size: 1.8rem, $weight: 700);

      @include media-mobile-s {

        @include fonts($size: 1.4rem, $weight: 700);
      }
    }
  }
}

.basket-item {
  display: flex;
  align-items: center;
  column-gap: 72px;

  @include media-mobile-xs {
    column-gap: 40px;
  }

  &__container {
    display: flex;
    column-gap: 15px;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__text {
    color: var(--basic-neutral);

    @include fonts($size: 1.4rem, $weight: 400);

    @include fonts($size: 1rem, $weight: 700);
  }

  &__title, &__price {
    color: var(--basic-extra-dark);

    @include fonts($size: 1.8rem, $weight: 700);

    @include fonts($size: 1.4rem, $weight: 700);
  }

  &__btn {
    height: 16px;
    border: none;
    background-color: var(--basic-extra-light);
  }

  &__footer {
    display: flex;
    column-gap: 50px;
  }
}


.is-active {
  display: flex;
  visibility: visible;
}
