@import "@/styles/abstracts/mixins";

.basket {

  &__button {
    position: relative;
    @include flex-center(true);
    column-gap: 6px;
    padding-inline: 16px;
    height: 32px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);
  }

  &__title {
    margin-bottom: 32px;
    color: var(--basic-extra-dark);
  }

  &__inner {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 10;
    padding: 48px;
    width: 441px;
    border-radius: var(--border-radius-xs);
    background-color: var(--basic-extra-light);
    box-shadow: var(--box-shadow);
  }
}

.pruduct-card {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 83px;
  }

  &__description {
    display: flex;
    align-items: center;
  }


}



