@import "@/styles/abstracts/mixins";

.basket {

  &__button {
    position: relative;
    column-gap: 6px;
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
  }

  &__empty {
    text-align: center;
  }

  &-preview {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 10;
    padding: 48px;
    width: 441px;
    border-radius: var(--border-radius-xs);
    background-color: var(--basic-extra-light);
    box-shadow: var(--box-shadow);

    &__title {
      margin-bottom: 32px;
      color: var(--basic-extra-dark);
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-right: auto;
  }

  &__price-container {
    display: flex;
    column-gap: 52px;
  }

  &__price {
    font-weight: 700;
  }

  &__weight-price {
    color: var(--basic-neutral);
  }

  &__button {
      position: relative;

    &::after {
      content: '';
      top: 100%;
    }
  }

}



