@import "@/styles/abstracts/mixins.scss";

.not-found {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-block: 80px;

  &__title {
    @include fluid-text(26, 16);
    font-weight: 700;
  }

  &__list {
    list-style: square;
  }

  &__link {
    color: var(--special-extra-blue)
  }
}