.basket {
  position: absolute;
  top: 50px;
  padding: 48px;
  max-width: 441px;
  border-radius: 4px;
  background-color: var(--basic-extra-light);
  box-shadow: var(--box-shadow);

  &__title {
    @include fonts($size: 2.4rem, $weight: 700);
  }

  &-footer {
    margin-top: 32px;
  }
}

.basket-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 32px;
  border-bottom: 1px solid var(--basic-light);
}

.basket-item {
  display: flex;
  column-gap: 30px;

  &__title {
    @include fonts($size: 1.8rem, $weight: 700);
  }
}
