@import "@/styles/abstracts/mixins";

.filter {
  max-width: 823px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;

    &-input {
      height: var(--height-xs);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__filter-price {
    text-align: center;
    height: var(--height-xs);
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);
  }

  &__filter-select {
    height: var(--height-xs);
    padding-inline: 16px 50px;
    border-radius: var(--border-raduis-md);
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    background-image: url("/src/assets/icons/filter/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 15px);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__button {
    height: var(--height-xs);
    padding-inline: 32px;
    border: var(--border-extra-light);
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light-icon);
  }
}

.sort {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.fat {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__subtitle {
    font-size: 14px;
    padding-left: 16px;
  }

  &__inner {
    display: flex;
    column-gap: 16px;
    height: var(--height-xs);
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    display: none;

    &-custom {
      position: relative;
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 5px;
      border: var(--border-basic-extra-dark);
      border-radius: var(--border-radius-сircle);
    }

    &-custom::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      height: 6px;
      width: 6px;
      border-radius: var(--border-radius-сircle);
      background-color: var(--basic-extra-dark);
      transform: translate(-50%, -50%);
    }
  }

  &__input:checked + &__input-custom::before {
    display: flex;
  }
}

.fillers {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__inner {
    display: flex;
    column-gap: 16px;
    height: var(--height-xs);
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: 2px;
  }
}