@import "@/styles/abstracts/mixins";

.filter {
  max-width: 823px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__title {
    @include rem-font-size(14);
    padding-left: 16px;
  }

  &__label {
    display: flex;
    column-gap: 8px;
  }

  &__select {
    height: var(--height-xs);
    padding-inline: 16px 50px;
    border-radius: var(--border-raduis-md);
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    background-image: url("/src/assets/icons/filter/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 15px);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__option {
    @include rem-font-size(14);
  }


  &__button {
    @include rem-font-size(14);
    height: var(--height-xs);
    padding-inline: 52px;
    border: var(--border-extra-light);
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }
}

.filter-sort,
.filter-price,
.filter-fat {
  display: flex;
  flex-direction: column;
}

.filter-fat__input {
  display: none;

  &-custom {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: var(--border-basic-extra-dark);
    border-radius: var(--border-radius-сircle);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      height: 6px;
      width: 6px;
      border-radius: var(--border-radius-сircle);
      background-color: var(--basic-extra-dark);
      transform: translate(-50%, -50%);
    }
  }

  &:checked + &-custom::before {
    display: inline-block;
  }
}

.filter-sort {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

}

.filter-price {


  &__title {
    @include rem-font-size(14);
    padding-left: 16px;
  }

  &__label {
    &-outline {
      text-align: center;
      height: var(--height-xs);
      padding-inline: 16px;
      border-radius: var(--border-raduis-md);
      background-color: var(--basic-extra-light-icon);
    }
  }

  &__parameters {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__input {
    @include rem-font-size(14);
    padding: 0;
    height: 20px;
    max-width: 30px;
    border: none;
    background-color: transparent;
  }

  &__input:focus {
    outline: none;
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__input::placeholder {
    color: var(--basic-extra-dark);
  }

  &__text {
    @include rem-font-size(14);
  }

  &__slider-wrapper {
    height: var(--height-xs);
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);
  }

  &__slider {
    width: 100%;
    height: 2px;
    margin-top: 17px;
    background-color: var(--basic-dark);
  }

  &__slider .thumb {
    position: relative;
    top: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--basic-extra-dark);

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 4px;
      height: 4px;
      border-radius: var(--border-radius-сircle);
      background-color: var(--basic-white);
    }
  }

  &__slider .track-0, .track-2 {
    height: 2px;
    background-color: var(--basic-neutral);
  }
}


.filter-fat {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__list {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: var(--height-xs);
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__title {
    @include rem-font-size(14);
    padding-left: 16px;
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }


  &__text {
    @include rem-font-size(14);
  }
}

.filter-fillers {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__list {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: var(--height-xs);
    padding-inline: 24px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__title {
    @include rem-font-size(14);
    padding-left: 16px;
  }

  &__input {
    display: none;

    &-custom {
      position: relative;
      width: 16px;
      height: 16px;
      border-radius: 15%;
      border: var(--border-basic-extra-dark-md);
      background-color: transparent;

      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 2px;
        display: none;
        width: 11px;
        height: 2px;
        border-radius: var(--border-radius-xs);
        background-color: var(--basic-extra-dark);
        transform: rotate(-55deg);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
        width: 6px;
        height: 2px;
        border-radius: var(--border-radius-xs);
        background-color: var(--basic-extra-dark);
        transform: rotate(55deg);
      }
    }

    &:checked + &-custom::after {
      display: inline-block;
    }

    &:checked + &-custom::before {
      display: inline-block;
    }
  }

  &__label {
    @include rem-font-size(14);
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}