@import "@/styles/abstracts/mixins";

.filter {
  max-width: 823px;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &_responsive-box {
      width: 100%;
      max-width: 196px;
    }
  }

  &__title {
    @include rem-font-size(14);
    padding-left: 16px;
  }

  &__text {
    @include rem-font-size(14);
  }

  &__select {
    @include rem-font-size(14);
    height: var(--height-xs);
    padding-inline: 16px 50px;
    border-radius: var(--border-raduis-md);
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    background-image: url("/src/assets/icons/filter/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 15px);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__option {
    @include rem-font-size(14);
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: var(--height-xs);
    padding-inline: 16px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__label {
    @include rem-font-size(14);
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__input {
    display: none;

    &-custom {
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: var(--border-basic-extra-dark);
      border-radius: var(--border-radius-сircle);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        height: 6px;
        width: 6px;
        border-radius: var(--border-radius-сircle);
        background-color: var(--basic-extra-dark);
        transform: translate(-50%, -50%);
      }
    }

    &:checked + &-custom::before {
      display: inline-block;
    }
  }

  &__button {
    @include rem-font-size(14);
    height: var(--height-xs);
    padding-inline: 52px;
    border: var(--border-extra-light);
    border-radius: var(--border-radius-sm);
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }
}

.filter-price {
  height: var(--height-xs);
  padding-inline: 16px;
  border-radius: var(--border-raduis-md);
  background-color: var(--basic-extra-light-icon);

  &__slider {
    width: 100%;
    height: 2px;
    margin-top: 17px;
    background-color: var(--basic-dark);
  }

  &__slider .thumb {
    position: relative;
    top: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--basic-extra-dark);

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 4px;
      height: 4px;
      border-radius: var(--border-radius-сircle);
      background-color: var(--basic-white);
    }
  }

  &__slider .track-0, .track-2 {
    height: 2px;
    background-color: var(--basic-neutral);
  }
}

.filter-fillers {

  &__input {
    display: none;

    &-custom {
      position: relative;
      width: 16px;
      height: 16px;
      border-radius: 15%;
      border: var(--border-basic-extra-dark-md);
      background-color: transparent;

      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 2px;
        display: none;
        width: 11px;
        height: 2px;
        border-radius: var(--border-radius-xs);
        background-color: var(--basic-extra-dark);
        transform: rotate(-55deg);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
        width: 6px;
        height: 2px;
        border-radius: var(--border-radius-xs);
        background-color: var(--basic-extra-dark);
        transform: rotate(55deg);
      }
    }

    &:checked + &-custom::after {
      display: inline-block;
    }

    &:checked + &-custom::before {
      display: inline-block;
    }
  }
}