@import "@/styles/abstracts/mixins.scss";

.search {
  position: absolute;
  top: 40px;
  right: 255px;
  z-index: 10;
  width: 80%;
  padding: 24px 16px;
  border-radius: var(--border-radius-xs);
  background-color: var(--basic-extra-light);
  box-shadow: var(--shadow);

  &__input {
    padding-inline: 15px;
    height: 48px;
    width: 100%;
    border-radius: var(--border-radius-xs);
    border: var(--border-neutral-xs);
    background-color: var(--basic-white);
  }
}