@import "@/styles/abstracts/mixins.scss";

.search {
  position: relative;

  &__button {
    @include flex-center(true);

    padding-inline: 10px;
    height: 32px;
    border-radius: var(--border-raduis-md);
    background-color: var(--basic-extra-light-icon);
  }

  &__form {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 10;
    width: 356px;
    padding: 24px 16px;
    border-radius: var(--border-radius-xs);
    background-color: var(--basic-extra-light);
    box-shadow: var(--shadow);
  }

  &__input {
    padding-inline: 15px;
    height: 48px;
    width: 100%;
    border-radius: var(--border-radius-xs);
    border: var(--border-neutral-xs);
    background-color: var(--basic-white);
  }
}