@import "@/styles/abstracts/mixins";

.search {
  position: relative;

  &__toggle-visibility-button {
    @include rem-font-size(14);
    padding-inline: 10px;
    height: var(--button-height-xs);
    border-radius: var(--border-raduis-md);
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light-icon);

    @include media-table {
      @include rem-font-size(12)
    }

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &__form {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 10;
    width: 356px;
    padding: 24px 16px;
    border-radius: var(--border-radius);
    background-color: var(--basic-extra-light);
    box-shadow: var(--shadow);
  }

  &__input {
    padding-inline: 15px;
    height: 48px;
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border-neutral);
    background-color: var(--basic-white);
  }
}