@import "@/styles/abstracts/mixins.scss";

.button {
  @include flex-center(true);

  height: var(--button-height);
  border: var(--border-light-md);
  border-radius: var(--border-radius-lg);
  background-color: var(--basic-extra-light-icon);
  box-shadow: var(--basic-shadow-light);
}
