@import "@/styles/abstracts/mixins.scss";

.button {
  @include reset-button;
  @include flex-center;
  height: var(--button-height-xs);
  border-radius: var(--border-radius-lg);
  background-color: var(--basic-extra-light-icon);

  &:hover {
    background-color: var(--basic-extra-light-rgba);
  }
}
