@import "@/styles/abstracts/mixins.scss";

.button {
  @include reset-button;
  @include flex-center;
  height: var(--button-height-xs);
  border-radius: var(--border-radius-lg);
  background-color: var(--basic-extra-light-icon);

  @include hover {
    background-color: var(--basic-extra-light-rgba);
    color: var(--basic-extra-dark);
  }

  @include media-table {
    height: var(--button-height-xs);
  }
}
