@import '@/styles/abstracts/mixins';

.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 55px;
  margin-top: 80px;

  &__title {
    text-align: center;
    max-width: 480px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 28px;
    padding: 36px 0 36px 36px;

    @include media-mobile-s {
      padding: 20px 0 20px 20px;
      row-gap: 14px;
    }
  }

  &__list {
    display: grid;
    gap: 30px;
    width: 100%;

    @include media-table-above {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: var(--border-radius-sm);
    background-color: var(--special-neutral);
  }

  &__icon {
    @include media-mobile-s {
      @include square(200px)
    }

    @include media-mobile-xs {
      @include square(150px)
    }
  }

  &__button {
    padding-inline: 32px;
    height: var(--button-height-sm);
    border: var(--border-light-md);
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light);
    box-shadow: var(--basic-shadow-light);

    @include hover {
      border: var(--border-white);
      background-color: var(--basic-extra-light-rgba);
    }

    @include media-mobile-xs {
      padding-inline: 25px;
    }
  }
}