@import '@/styles/abstracts/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  padding: 36px 0 36px 36px;

  @include media-mobile-s {

    row-gap: 14px;
  }
}

.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 55px;
  margin-top: 80px;

  &__title {
    text-align: center;
    max-width: 434px;

    @include fonts($size: 3.2rem, $weight: 900);

    @include media-mobile-s {

      @include fonts($size: 2.8rem, $weight: 900);
    }

    @include media-mobile-xs {

      @include fonts($size: 2rem, $weight: 900);
    }
  }

  &__items {
    display: grid;
    gap: 30px;

    @include media-table {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: end;
    column-gap: 11px;
    border-radius: var(--border-radius-sm);
    background-color: var(--special-neutral);

    &-title {

      @include fonts($size: 2.4rem, $weight: 700);

      @include media-mobile-s {

        @include fonts($size: 2rem, $weight: 700);
      }

      @include media-mobile-xs {

        @include fonts($size: 1.6rem, $weight: 900);
      }
    }

    &-text {

      @include fonts($size: 1.6rem, $weight: 400);

      @include media-mobile-s {

        @include fonts($size: 1.4rem, $weight: 400);
      }
    }
  }

  &__icon {

    @include media-mobile-s {
      max-width: 150px;
      height: 150px;
    }
  }

  &__button {
    height: 44px;
    max-width: 176px;
    padding-inline: 28px;
    border: var(--border-light-md);
    background-color: var(--basic-extra-light);
    box-shadow: var(--basic-shadow-light);

    @include fonts($size: 1.6rem, $weight: 700);

    @include media-mobile-s {
      max-width: 136px;
      padding-inline: 14px;

      @include fonts($size: 1.4rem, $weight: 700);
    }
  }
}