@import "@/styles/abstracts/mixins.scss";

.input {
  font-weight: 400;
  padding-inline: 16px;
  height: var(--input-height);
  border: var(--border-neutral);
  border-radius: var(--border-radius);
}