@import "@/styles/abstracts/mixins";

.auth {
  position: relative;

  &__button {
    @include flex-center(true);
    column-gap: 6px;
    padding-inline: 16px;
    height: 32px;
    border-radius: var(--border-raduis-md);
  }

  &-form {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 48px;
    border-radius: var(--border-radius-xs);
    background-color: var(--basic-extra-light);
    box-shadow: var(--box-shadow);

    &__title {
      margin-bottom: 32px;
      color: var(--basic-extra-dark);
    }

    &__input-email, &__input-password {
      padding-inline: 15px;
      width: 324px;
      height: var(--input-height);
      border: var(--border-neutral-xs);
      border-radius: var(--border-radius-xs);
    }

    &__footer {
      display: flex;
      column-gap: 23px;
      margin-top: 16px;

      &-list {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.auth-btn {
  align-items: center;
  padding-inline: 32px;
  height: 44px;
  border-radius: var(--border-raduis-md);
  background-color: var(--special-extra-bright);
  border: var(--border-light-md);
}
