@import "@/styles/abstracts/mixins";

.auth {
  position: relative;

  &__button {
    @include  fluid-text(14, 12);
    column-gap: 6px;
    padding-inline: 16px;
    font-weight: 400;
    height: var(--button-height-xs);
    border-radius: var(--border-raduis-md);
    color: var(--basic-extra-dark);
    background-color: var(--basic-extra-light-icon);

    @include hover {
      background-color: var(--basic-extra-light-rgba);
    }
  }

  &-form {
    position: absolute;
    top: 115%;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 48px;
    border-radius: var(--border-radius);
    background-color: var(--basic-extra-light);
    box-shadow: var(--box-shadow);

    &__title {
      margin-bottom: 32px;
      color: var(--basic-extra-dark);
    }

    &__input-email, &__input-password {
      @include square(324px);
      padding-inline: 15px;
      height: var(--input-height);
      border: var(--border-neutral);
      border-radius: var(--border-radius);
    }

    &__footer {
      display: flex;
      column-gap: 23px;
      margin-top: 16px;

      &-list {
        display: flex;
        flex-direction: column;
      }

      &-link {
        text-decoration: underline;

        @include  fluid-text(14, 12);
      }

      &-button {
        padding-inline: 32px;
        height: var(--button-height-sm);
        border: var(--border-light-md);
        border-radius: var(--border-raduis-md);
        color: var(--basic-extra-light);
        background-color: var(--special-extra-bright);
        box-shadow: var(--basic-shadow-light);

        @include hover {
          border: var(--border-extra-bright);
          color: var(--basic-extra-dark);
          background-color: var(--basic-white);
        }
      }
    }
  }
}
