@import '@/styles/abstracts/mixins';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 57px;
  margin-top: 80px;

 &__title {
   text-align: center;
   max-width: 527px;

   @include fonts($size: 3.2rem, $weight: 900);

   @include media-mobile-s {

     @include fonts($size: 2.8rem, $weight: 900);
   }

   @include media-mobile-xs {

     @include fonts($size: 2rem, $weight: 900);
   }
 }
}